.favicon {
    width: 16px;
    height: 16px;
  }

body {
    font-family: 'EB Garamond', serif;
}

/* Background video styling */
.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Semi-transparent overlay */
.canvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 0;
}

/* Header container */
header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* flex-end; center;*/
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    z-index: 100;
}

/* Title (Logo) styling */
.header-title-text a {
    align-items: center;
    text-decoration: none;
    color: #0E6696;
    font-size: 1.75em;
    font-weight: 700;
    white-space: nowrap;
}

/* Navigation menu */
.header-nav-list {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 50px;
}

.header-nav-item a {
    align-items: center;
    color: #0E6696;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    white-space: nowrap;
}

.header-nav-item a:hover {
    text-decoration: underline;
}

/* Prevent navigation from overflowing */
nav {
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

/* Burger menu (hidden by default) */
.burger-box {
    display: none;
}

/* Responsive design for mobile */
@media (max-width: 900px) {
    .header-title-text a {
        font-size: 1.2em;
    }

    .header-nav-list {
        display: none;
    }

    .burger-box {
        display: flex;
        flex-direction: column;
        width: 30px;
        cursor: pointer;
    }

    .burger-box div {
        height: 4px;
        background-color: #0E6696;
        margin: 3px 0;
    }
}

/* Full window transparent menu */
.fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.fullscreen-menu ul {
    list-style: none;
    text-align: center;
    padding-left: 20px;
}

.fullscreen-menu ul li {
    margin: 20px 0;
}

.fullscreen-menu ul li a {
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
}

.fullscreen-menu ul li a:hover {
    text-decoration: underline;
}

